#expense_main {
	margin: 100px 50px 0 50px;
	width: calc(100% - 100px);
	height: stretch;
	border-spacing: 0;
	overflow: hidden;
	position: relative;
}
.expense-table {
	width: 100%;
	position: absolute;
	transition: left 300ms;
}

.expense-table td,
.expense-table th {
	border-collapse: collapse;
	width: calc(100% / 3);
	position: relative;
	text-align: center;
	align-items: center;
}
.expense-table tr:nth-child(even) {
	background-color: var(--midground);
}

.expense-table .e-section-bar td {
	background-color: var(--accent);
	color: var(--textOnAccent);
	text-align: left;
	padding-left: 20px;
	border-bottom: 1px solid var(--mainBorder);
	border-top: 1px solid var(--mainBorder);
}
.expense-table .e-section-bar td:nth-child(3),
.expense-table .e-section-bar td:nth-child(3) * {
	text-align: right;
	padding-right: 20px;
	color: var(--textOnAccent);
}
.expense-table .expense-dollar::before {
	content: '$';
}

.expense-table .delete-expense {
	position: absolute;
	left: 3px;
	top: 1px;
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	border-radius: var(--commonBorderRadius);
	background-color: var(--buttonBG);
	border: 1px solid var(--mainBorder);
	cursor: pointer;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}
.expense-table .delete-expense > img {
	width: 15px;
	height: 15px;
	/* position: absolute;
	left: 0;
	bottom: 0; */
}

.delete-expense:not(.delete-expense:disabled):hover {
	background-color: var(--buttonHoverBG);
}

#expense_main .expense-table:nth-child(1) {
	left: 0%;
}
#expense_main .expense-table:nth-child(2) {
	left: 100%;
}
#expense_main .expense-table:nth-child(3) {
	left: 200%;
}
#expense_main .expense-table:nth-child(4) {
	left: 300%;
}

#new_expense_form {
	top: 145px;
}
#new_expense_form[data-sinking='false'] {
	left: 150px;
}
#new_expense_form[data-sinking='true'] {
	left: 348px;
}

#new_expense_date {
	cursor: pointer;
	anchor-name: --newExpenseDate;
	font-size: 15px;
}
#new_expense_date:hover {
	background-color: var(--optionButtonHover);
}
#ned_drop {
	width: 200px;
	height: 150px;
	border: 1px solid var(--mainBorder);
	background-color: var(--optionBG);
	z-index: 200;
	position: absolute;
	left: 300px;
	top: 125px;
	position-anchor: --newExpenseDate;
	left: anchor(left);
	top: anchor(bottom);
	display: none;
	flex-wrap: wrap;
	border-radius: 10px;
	padding: 5px;
}
#ned_drop > div {
	width: 28%;
	height: 28%;
	border: 1px solid var(--mainBorder);
	border-radius: var(--commonBorderRadius);
	margin: auto;
	text-align: center;
	align-content: center;
	background-color: var(--buttonBG);
	cursor: pointer;
	font-size: 15px;
}
#ned_drop > div:hover {
	background-color: var(--buttonHoverBG);
}

#expenses_page table caption {
	font-weight: 600;
	font-size: 19px;
	letter-spacing: 2px;
}

.expense-table .control-row button {
	background-color: var(--buttonBG);
	color: var(--buttonTextC);
	border: 1px solid var(--mainBorder);
	border-radius: var(--commonBorderRadius);
}
.expense-table .control-row button:not(.expense-table .control-row button:disabled):hover {
	background-color: var(--buttonHoverBG);
}
