#new_expense_form {
	width: 250px;
	height: 150px;
	position: absolute;
	left: 50px;
	top: 125px;
	border: 1px solid black;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: white;
	border-radius: 10px;
	display: none;
	z-index: 100;
}
#new_expense_form > div {
	/* border: 1px solid blue; */
	width: 220px;
	display: flex;
	justify-content: space-between;
}

#expense_main {
	margin: 100px 50px 0 50px;
	width: calc(100% - 100px);
	height: stretch;
	/* border: 1px solid black; */
	border-spacing: 0;
	overflow: hidden;
	position: relative;
}
.expense-table {
	width: 100%;
	position: absolute;
	transition: left 300ms;
}

.expense-table td,
.expense-table th {
	/* border: 1px solid black; */
	border-collapse: collapse;
	width: calc(100% / 3);
	text-align: center;
	position: relative;
	align-items: center;
}
.expense-table tr:nth-child(even) {
	background-color: var(--darkLineColor);
}
/* .expense-table .expense-date, .expense-table .expense-location{
    background-color: rgba(210, 190, 190, 0.8);
} */

.expense-table .e-section-bar td {
	background-color: var(--accent);
	color: var(--textWhite);
	text-align: left;
	padding-left: 20px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
.expense-table .e-section-bar td:nth-child(3) {
	text-align: right;
	padding-right: 20px;
}
.expense-table .expense-dollar::before {
	content: '$';
}

.expense-table .delete-expense {
	position: absolute;
	left: 3px;
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	border-radius: 2px;
	background-color: rgb(239, 239, 239);
	border: 1px solid rgba(128, 128, 128, 0.718);
	cursor: pointer;
	font-weight: 700;
}
.expense-table .delete-expense > img {
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.delete-expense:hover {
	background-color: rgb(220, 220, 220);
}

#expense_main .expense-table:nth-child(1) {
	left: 0%;
}
#expense_main .expense-table:nth-child(2) {
	left: 100%;
}
#expense_main .expense-table:nth-child(3) {
	left: 200%;
}
#expense_main .expense-table:nth-child(4) {
	left: 300%;
}

#new_expense_date {
	width: 100px;
	height: 20px;
	border: 1px solid rgba(65, 65, 65, 0.632);
	border-radius: 1px;
	cursor: pointer;
	transition: border-radius 150ms;
}
#new_expense_date:hover {
	border-radius: 10px;
}
#ned_drop {
	width: 200px;
	height: 150px;
	border: 1px solid black;
	background-color: white;
	z-index: 200;
	position: absolute;
	left: 300px;
	top: 125px;
	display: none;
	flex-wrap: wrap;
	border-radius: 10px;
}
#ned_drop > div {
	width: calc(100% / 4);
	height: calc(100% / 4);
	border: 1px solid black;
	margin: auto;
	text-align: center;
	align-content: center;
	background-color: rgb(240, 240, 240);
	transition: border-radius 150ms;
	cursor: pointer;
}
#ned_drop > div:hover {
	border-radius: 10px;
}

#expenses_page table caption {
	font-weight: 600;
	font-size: 19px;
}

.transfer-totals {
	position: relative;
}

.transfer-totals:hover::after,
.delete-expense:hover::after {
	content: '';
	position: absolute;
	left: 100%;
	top: 15px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 2px 5px;
	text-wrap: nowrap;
	z-index: 100;
	font-weight: 500;
}

.transfer-totals:hover::after {
	content: 'Transfer totals over to Plan';
}

.delete-expense:hover::after {
	content: 'Delete Expense';
}
