#plan_table{
    margin: 100px 50px 0 50px;
    width: calc(100% - 100px);
    /* border: 1px solid black; */
    border-collapse: collapse;
}
#plan_table td{
    /* border: 1px solid black; */
    text-align: center;

}
#plan_table td{
    padding: 2px 0;
}
input[type="number"]{
    width: calc(100% - 8px);
    outline: none;
    text-align: center;
}
td:has(input[type="number"]){
    width: 8%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#plan_table .section-bar td:has(.option-button){
    position: relative;
}
.option-button{
    justify-self: center;
    display: none;
    width: 25px;
    height: 13px;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    background-color: rgb(239, 239, 239);
    border: 1px solid rgba(128, 128, 128, 0.718);
    cursor: pointer;
}


.section-bar:hover .option-button:hover{
    background-color: rgb(210, 210, 210);
}

.section-bar:hover .option-button{
    display: flex;
}

.option-button > div{
    background-color: black;
    width: 3px;
    height: 3px;
    border-radius: 50%;

}



.option-box{
    width: 120px;
    height: 150px;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 100px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
    overflow: hidden;
    z-index: 100;
}
.option-box.visible{
    display: block;
}
.option-box .close{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    text-align: center;
    align-content: center;
    font-size: 13px;
    cursor: pointer;
    transition-property: border-radius;
    transition-duration: 300ms;
    color: white;
}

.option-box div{
    width: 100%;
    height: calc(100% / 3);
    text-align: center;
    align-content: center;
    /* border: 1px solid black; */
    transition: background-color 200ms;
    cursor: pointer;
}
#item_options > div:not(.close):hover{
    background-color: rgba(175, 175, 175, 0.527);
}
.option-box .close:hover{
    background-color: red;
    border-radius: 0;
}
.delete-plan-item{
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: rgb(239, 239, 239);
    border: 1px solid rgba(128, 128, 128, 0.718);
    display: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}
.delete-plan-item img{
    /* position: relative;
    right: 1px;
    bottom: 1px; */
    width: 14px;
    height: 14px;
}
#plan_table .plan-item:hover .delete-plan-item{
    display: flex;
}
#plan_table .plan-item:hover .delete-plan-item:hover{
    background-color: rgb(210, 210, 210);
}
#plan_table tr:nth-child(even):not(.section-bar){
    background-color: var(--darkLineColor);
}
.section-bar{
    background-color: var(--accent);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#plan_table .input-name{
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: var(--textBlack);
    font-size: 15px;
    width: calc(100% - 7px);
}
#plan_table .plan-item .input-name::placeholder{
    color: var(--textBlack);

}
#plan_table .section-bar .input-name::placeholder, #plan_table .section-bar .input-name{
    color: var(--textWhite);

}

#total_bar{
    border-top: 4px double black;
}
#should_be_zero{
    border: 1px solid black;
    width: 45px;
}