#plan_table {
	margin: 100px 50px 0 50px;
	width: calc(100% - 100px);
	border-collapse: collapse;
}
#plan_table td {
	text-align: center;
	position: relative;
	padding: 2px 0;
}

#plan_controls > td > * {
	display: inline;
	margin: 0 10px;
}

#plan_controls {
	/* border: 1px solid var(--mainBorder); */
	background-color: var(--darkLineColor);
}

#pay_day_drop,
#plan_controls > td > button {
	outline: none;
	background-color: var(--buttonBG);
	border: 1px solid black;
	border-radius: var(--commonBorderRadius);
	color: var(--buttonTextC);
}
#pay_day_drop:hover,
#plan_controls > td > button:hover {
	background-color: var(--buttonHoverBG);
}

#plan_page input[type='number'] {
	width: calc(100% - 8px);
	outline: none;
	text-align: center;
	border-radius: var(--commonBorderRadius);
	border: 1px solid var(--mainBorder);
	font-size: 15px;
}
#plan_page td:has(input[type='number']) {
	width: 8%;
}

.option-button {
	padding: 0;
	justify-self: center;
	display: none;
	width: 25px;
	height: 19px;
	justify-content: center;
	align-items: center;
	gap: 4px;
	border-radius: 4px;
	background-color: var(--buttonBG);
	border: 1px solid var(--mainBorder);
	cursor: pointer;
	position: relative;
}

.section-bar:hover .option-button:not(.option-button:disabled):hover {
	background-color: var(--buttonHoverBG);
}

.section-bar:hover .option-button {
	display: flex;
}

.option-button > span {
	background-color: var(--buttonTextC);
	width: 3px;
	height: 3px;
	border-radius: 50%;
}

.option-box {
	width: 120px;
	height: 150px;
	background-color: var(--optionBG);

	position: absolute;
	top: 100px;
	left: 100px;
	align-content: end;
	border: 1px solid var(--mainBorder);
	border-radius: 10px;
	display: none;
	overflow: hidden;
	z-index: 100;
}
.option-box.visible {
	display: block;
}
.option-box .close {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--accent);
	text-align: center;
	align-content: center;
	font-size: 13px;
	cursor: pointer;
	transition-property: border-radius;
	transition-duration: 300ms;
	color: var(--textOnAccent);
}

.option-box div {
	width: 100%;
	height: calc(100% / 4 - 5px);
	text-align: center;
	align-content: center;
	font-size: 14px;
	/* border: 1px solid black; */
	transition: background-color 200ms;
	cursor: pointer;
	color: var(--textOnOption);
}
#item_options > div:not(.close):hover,
#lines_container > div:hover {
	background-color: var(--optionButtonHover);
}
.option-box .close:hover {
	background-color: var(--accent);
	border-radius: 0;
}
td:has(.item-button) {
	display: inline-flex;
	justify-content: space-around;
	/* align-items: center; */
	width: stretch;
	/* height: stretch; */
	padding: -1px 0;
}
.item-button {
	width: 19px;
	height: 19px;
	box-sizing: border-box;
	border-radius: 2px;
	background-color: var(--buttonBG);
	border: 1px solid var(--mainBorder);
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	position: relative;
	margin: 0;
}
.item-button img,
.item-button svg {
	width: 14px;
}
#this_month,
#pay_day_drop_con {
	position: relative;
}
#plan_table .plan-item:hover .item-button {
	display: inline-flex;
}
#plan_table .plan-item:hover .item-button:not(.item-button:disabled):hover {
	background-color: var(--buttonHoverBG);
}
#plan_table .plan-item:nth-child(even) {
	background-color: var(--midground);
}
.section-bar {
	background-color: var(--accent);
	border-top: 1px solid var(--mainBorder);
	border-bottom: 1px solid var(--mainBorder);
}
#plan_table .input-name {
	outline: none;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	text-align: center;
	color: var(--textOnBG);
	font-size: 15px;
	width: calc(100% - 7px);
}
#plan_table .plan-item .input-name::placeholder {
	color: var(--textOnBG);
}
#plan_table .section-bar .input-name::placeholder,
#plan_table .section-bar .input-name {
	color: var(--textOnAccent);
}

#total_bar {
	border-top: 5px double var(--mainBorder);
}

#budget_name {
	font-weight: 600;
	font-size: 19px;
	letter-spacing: 2px;
}
#load_button {
	position: relative;
	anchor-name: --loadButton;
}
#load_options {
	top: 125px;
	left: 34%;
	position-anchor: --loadButton;
	top: anchor(bottom);
	left: anchor(left);
	overflow-y: hidden;
}
#load_options #lines_container {
	width: 100%;
	height: 130px;
	overflow-y: auto;
	position: absolute;
	bottom: 0;
	align-content: start;
}
#load_options > div:not(.close) {
	cursor: default;
}
#lines_container > div {
	cursor: pointer;
	border-radius: 0;
	height: auto;
	color: var(--textOnOption);
}

#plan_page td.right {
	text-align: right;
}
.move-marker {
	position: absolute;
	width: 50px;
	height: 20px;

	left: 1px;
	translate: 0 -50%;
	display: flex;
	justify-content: right;
	align-items: center;
	transition: left 200ms;
}
.move-marker div:nth-child(1) {
	width: 15px;
	height: 15px;
	border-radius: 10px;
	background-color: var(--accent);
	position: relative;
	left: 5px;
}
.move-marker:hover {
	left: 5px;
}
.move-marker div:nth-child(2) {
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 10px solid var(--accent);
}
.move-marker div:nth-child(3) {
	width: 20px;
	height: 1px;
	background-color: var(--mainBorder);
}
#plan_page .move-focus {
	/* outline: 2px solid white;
    border-radius: 2px; */
	box-shadow: inset 0 0 0 2px var(--accentBorder);
	border-color: #0000;
}

.weekly-expense:disabled {
	color: var(--textBlack);
}
