#sinking_main {
	margin: 100px 75px 0 75px;
	width: calc(100% - 150px);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
}
#new_sinking_fund {
	background-color: var(--buttonBG);
	color: var(--buttonTextC);
	border: 1px solid var(--mainBorder);
	border-radius: var(--commonBorderRadius);
	outline: none;
}
#new_sinking_fund:not(#new_sinking_fund:disabled):hover {
	background-color: var(--buttonHoverBG);
}
.sinking-fund {
	border: 1px solid var(--mainBorder);
	border-radius: 25px;
	background-color: var(--forground);
	width: 25%;
	aspect-ratio: 1 / 1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/* overflow: hidden; */
	min-width: 280px;
	/* box-shadow: -20px -20px 60px 0px inset hsl(0 0 98%);
	box-shadow: 20px 20px 60px 0px hsl(0 0 75%); */
}
.sinking-fund .name {
	font-size: 30px;
	width: 100%;
	text-align: center;
	background-color: #0000;
	border: none;
	outline: none;
	color: var(--textOnOption);
}
.sinking-fund .control {
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	gap: 3px;
	margin: 2px 26px 0 0;
}
.sinking-fund .control button {
	width: 20px;
	height: 20px;
	display: inline-flex;
	justify-content: left;
	align-items: center;
	border-radius: 7px;
	border: 1px solid var(--mainBorder);
	/* overflow: hidden;
	transition: width 150ms, background-color 150ms;
	text-wrap: nowrap; */
	background-color: var(--buttonBG);
}
.sinking-fund .control button:not(.sinking-fund .control button:disabled):hover {
	background-color: var(--buttonHoverBG);
}
.sinking-fund .control button img {
	width: 15px;
	aspect-ratio: 1/1;
	margin-left: -4px;
}
.sinking-fund .balance {
	font-size: 38px;
	font-weight: 600;
	color: var(--textOnOption);
}
.sinking-fund .history {
	width: stretch;
	overflow-y: auto;
	margin: 0 10px 10px 10px;
	scrollbar-width: none;
	height: 40%;
}
.sinking-fund .history li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: -40px;
	gap: 2px;
	margin-bottom: 2px;
}
/* .sinking-fund .history li::before {
	content: '';
	position: relative;
	right: 3px;
	align-content: center;
	margin-bottom: 0.5px;
	width: 3px;
	height: 3px;
	border: 1px solid black;
	border-radius: 50%;
} */
.sinking-fund .history li span {
	width: stretch;
	text-align: center;
	align-content: center;
	border-radius: 2px;
	color: green;
	font-size: 14px;
	line-height: 12px;
}
.sinking-fund .history li.expense span {
	color: red;
}
.sinking-fund .history li:nth-child(1) span {
	border-bottom: 1px solid var(--mainBorder);
	color: var(--textOnOption);
	font-weight: 600;
}
.sinking-fund .history li:nth-child(1)::before {
	display: none;
}
#s_control_row {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 5px;
}
