body.dark-theme {
	--accent: red;
	--textOnAccent: white;
	--accentBorder: white;

	--background: hsl(0 0 10%);
	--midground: hsl(0 0 20%);
	--forground: hsl(0 0 90%);
	--textOnBG: white;

	--darkLineColor: var(--midground);
	--lightLineColor: var(--background);

	--optionBG: white;
	--optionButtonHover: hsl(0 0 90%);
	--textOnOption: black;

	--buttonBG: hsl(0, 0%, 85%);
	--buttonTextC: black;
	--buttonHoverBG: hsl(0, 0%, 100%);

	--mainBorder: black;
	--commonBorderRadius: 2px;

	--inputBorder: rgb(60, 60, 60, 0.6);
	--inputColor: black;

	--disabledButtonOpacity: 0.4;

	--disabledInputBG: hsl(0 0 50%);
	--disabledInputC: white;
}
body.light-theme {
	--accent: red;
	--textOnAccent: white;
	--accentBorder: white;

	--background: hsl(0, 0%, 90%);
	--midground: hsl(0 0 80%);
	--forground: hsl(0 0 95%);
	--textOnBG: black;

	--darkLineColor: var(--midground);
	--lightLineColor: var(--background);

	--optionBG: white;
	--optionButtonHover: hsl(0 0 90%);
	--textOnOption: black;

	--buttonBG: hsl(0, 0%, 100%);
	--buttonTextC: black;
	--buttonHoverBG: hsl(0, 0%, 90%);

	--mainBorder: black;
	--commonBorderRadius: 2px;

	--inputBorder: rgb(60, 60, 60, 0.6);
	--inputColor: black;

	--disabledButtonOpacity: 0.4;

	--disabledInputBG: hsl(0 0 70%);
	--disabledInputC: white;
}
#small_screen_overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 300vw;
	height: 100vh;
	z-index: 1000;
	background-color: var(--background);
	color: var(--textOnBG);
	justify-content: center;
	align-items: left;
	flex-direction: column;

	& span {
		margin-left: 10vw;
		width: 80vw;
	}

	& span:first-child {
		font-size: 25px;
	}
}
@media screen and (max-width: 800px) {
	#small_screen_overlay {
		display: flex;
	}
}
* {
	font-family: 'Courier Prime', monospace;
	color: var(--textOnBG);
}
body {
	/* display: flex; */
	position: relative;
	margin: 0;
	overflow: hidden;
}
#nav {
	/* width: fit-content; */
	height: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--buttonBG);
	border-radius: 7px;
	position: fixed;
	transform: translateX(-50%);
	left: 50%;
	z-index: 100;
	margin-top: 10px;
}
#nav button:visited,
#nav button {
	font-size: 15px;
	background-color: var(--buttonBG);
	text-decoration: none;
	color: var(--buttonTextC);
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	/* margin: 0 1px; */
	height: 100%;
	cursor: pointer;
	word-spacing: -3px;
	transition-property: background-color, color;
	transition-duration: 250ms;
	border: none;
}
#nav button:nth-child(2) {
	margin: 0 2px;
}
#nav button:hover,
#nav button.active {
	background-color: var(--accent);
	color: var(--textOnAccent);
}

.page {
	width: 100vw;
	height: 100vh;
	position: absolute;
	transition-property: left;
	transition-duration: 500ms;
	top: 0;
	border: 1px solid black;
	overflow-y: auto;
	background-color: var(--background);
	scrollbar-width: none;
}
#plan_page {
	left: 0vw;
}
#expenses_page {
	left: 100vw;
}
#sinking_funds_page {
	left: 200vw;
}
.bold {
	font-weight: 500;
}
#message_banner {
	width: auto;
	height: auto;
	position: fixed;
	top: 45px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--accent);
	text-align: center;
	padding: 5px 10px;
	color: var(--textOnAccent);
	border-radius: 10px;
	border: 1px solid var(--accentBorder);
	opacity: 0;
	transition: opacity 500ms;
	z-index: 100;
}

[data-hover] {
	position: relative;
	anchor-name: --hoverAnchor;
}

[data-hover]:not([data-hover]:disabled):hover::after {
	content: attr(data-hover);
	position: absolute;
	left: 100%;
	top: 100%;
	position-anchor: --hoverAnchor;
	position-area: bottom right;
	background-color: var(--optionBG);
	border: 1px solid var(--mainBorder);
	border-radius: 5px;
	padding: 2px 5px;
	text-wrap: nowrap;
	z-index: 100;
	font-weight: 500;
	font-size: 14px;
	color: var(--textOnOption);
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input {
	color: var(--inputColor);
}

.form {
	width: 250px;
	position: absolute;
	border: 1px solid var(--mainBorder);
	flex-direction: column;
	align-items: center;
	gap: 5px;
	background-color: var(--optionBG);
	border-radius: 10px;
	display: none;
	z-index: 100;
	padding: 10px;
}
.form label {
	font-size: 15px;
	color: var(--textOnOption);
}

.form input,
.form select,
.form #new_expense_date,
.form .custom-select-wrapper {
	font-size: 14px;
	height: 19px;
	width: 60%;
	box-sizing: border-box;
	outline: none;
	border: 1px solid var(--inputBorder);
	border-radius: var(--commonBorderRadius);
	color: var(--inputColor);
}
.form > div {
	/* border: 1px solid blue; */
	width: stretch;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.form .form-name {
	display: inline-block;
	text-align: center;
	color: var(--textOnOption);
}
.form button {
	width: 30%;
	background-color: var(--buttonBG);
	box-shadow: 1px 1px 1px 0;
	color: var(--buttonTextC);
	border: 1px solid var(--mainBorder);
	border-radius: var(--commonBorderRadius);
}
.form button:hover {
	background-color: var(--buttonHoverBG);
}
input:disabled {
	background-color: var(--disabledInputBG);
	color: var(--disabledInputC);
	border: 1px solid var(--mainBorder);
}
button:disabled {
	opacity: var(--disabledButtonOpacity);
}

.custom-select-wrapper {
	position: relative;
}

.custom-select {
	box-sizing: border-box;
	width: 100%;
	/* font-size: 16px; */
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	cursor: pointer;
	anchor-name: --attr(data-selectid);
	transition: background-color 200ms;
	align-items: center;
	height: stretch;
	&:hover {
		background-color: var(--optionButtonHover);
	}
	& .cs-val {
		align-content: center;
		font-size: 15px;
	}
	& .cs-arrow {
		align-content: center;
		font-family: 'Courier New', Courier, monospace;
		translate: 50%;
		transition: rotate 200ms;
		position: relative;
		right: 5px;
		height: 14px;
	}
}
.cs-option-wrapper {
	box-sizing: border-box;
	display: none;
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
	padding: 5px 10px;
	position: absolute;
	top: anchor(bottom);
	position-anchor: --attr(data-selectid);
	background-color: var(--optionBG);
	z-index: 1000;
	border-radius: 0 0 10px 10px;
	opacity: 0;
	transition: opacity 200ms;
	scrollbar-color: var(--accent) var(--optionBG);
	scrollbar-width: thin;
	border-top: 1px solid var(--inputBorder);
	&.visible {
		display: block;
		opacity: 1;
	}
	& .cs-option {
		cursor: pointer;
		text-align: center;
		font-size: 13px;
		padding: 1px;
		border-radius: 10px;
		color: var(--textOnOption);
		&:hover {
			background-color: var(--optionButtonHover);
		}
	}
}
.cs-option-section {
	font-size: 13px;
	background-color: var(--accent);
	color: var(--textOnAccent);
	padding: 1px;
	padding-left: 10px;
	border-radius: 10px;
}
